.container{
    width: 100%;
    background-color: black;
    color: white;
    padding: 1em;
    width: 100%;

    .infor{
        display: flex;
        padding: 2em;
        font-size: 1.2em;
        justify-content: center;
        margin: 0 2em 0 0;
        gap: 1em;
        .inforItem {
            display: flex;
            align-items: center;
            gap: .5em;
            span {
                font-weight: 600;
            }
        }
    }
}