body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.d-flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
.f-row{
  flex-direction: row;
}
.f-col{
  flex-direction: column;
}
.Toastify__toast {
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.Toastify__toast--success {
  background-color: #4caf50; /* Green */
  color: white;
}

.Toastify__toast--error {
  background-color: #f44336; /* Red */
  color: white;
}

.Toastify__toast-container {
  width: 300px;
}